.boutons {
  background-color: #FFF;
  float: right;
  font-size: 0.65em;
}

.texte {
  align-items: center;
  justify-content: center;
  margin-right: 4em;
  margin-left: 4em;
  padding: 2em;
  font-size: 2vmin;
  border-radius: 7px;
  margin-bottom: 0.7em;
}

.affichage {
 width: 100%;
 max-width: 240px;
 height: auto;
}

.identite {
  display: flex;
  justify-content: space-between;
  margin-right: 2em;
  margin-left: 2em;
}

.date {
  text-align: start;
  margin-left: 2em;
}
