.App {
  text-align: center;
}


.App-header {
  min-height: 7vh;
  flex-direction: column;
  font-size: 1vw;
  background: #556b2f;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 4em;
  margin-left: 4em;
  border-radius: 7px;
}
